<div ng-controller="loginController">
  <!-- Wrapper -->
	<section id="wrapper">

		<!-- One -->
		<section class="wrapper spotlight style1 animated slideInRight">
			<div class="inner">
        <span style="text-align:left"><h1>Sign In</h1>
        <h3>You can save your preferences and we can suggest you the movies based on your activity</h3></span>
        <div id="firebaseui-auth-container"></div>
				</div>
		</section>

	</section>
</div>
