<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/animate.css">
    <link rel="stylesheet" href="/styles/font-awesome-4.6.3/css/font-awesome.css">
    <link rel="stylesheet" href="/styles/font-awesome-4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/keyframes.css">
    <link rel="stylesheet" href="/styles/pageTransitions.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/alertify.js-master/dist/js/alertify.js"></script>
    <script src="/js/dependencies/alertify.js-master/dist/js/ngAlertify.js"></script>
    <script src="/js/dependencies/alertify.js-master/gulpfile.js"></script>
    <script src="/js/dependencies/alertify.js-master/karma-ci.conf.js"></script>
    <script src="/js/dependencies/alertify.js-master/karma.conf.js"></script>
    <script src="/js/dependencies/alertify.js-master/src/js/alertify.js"></script>
    <script src="/js/dependencies/alertify.js-master/src/js/ngAlertify.js"></script>
    <script src="/js/dependencies/alertify.js-master/test/commonjsSpec.js"></script>
    <script src="/js/dependencies/alertify.js-master/test/dialogSpec.js"></script>
    <script src="/js/dependencies/alertify.js-master/test/logSpec.js"></script>
    <script src="/js/dependencies/alertify.js-master/test/ngAlertifySpec.js"></script>
    <script src="/js/dependencies/alertify.js-master/test/settingsSpec.js"></script>
    <script src="/js/dependencies/alertify.js-master/test/themesSpec.js"></script>
    <script src="/js/dependencies/alertify.js-master/website/js/all.js"></script>
    <script src="/js/dependencies/alertify.js-master/website/js/demo.js"></script>
    <script src="/js/dependencies/angular-slick-master/app/scripts/app.js"></script>
    <script src="/js/dependencies/angular-slick-master/app/scripts/controllers/main.js"></script>
    <script src="/js/dependencies/angular-slick-master/dist/slick.js"></script>
    <script src="/js/dependencies/angular-slick-master/dist/slick.min.js"></script>
    <script src="/js/dependencies/angular-slick-master/Gruntfile.js"></script>
    <script src="/js/dependencies/angular-tmdb/angular-tmdb.js"></script>
    <script src="/js/dependencies/angular-tmdb/angular-tmdb.min.js"></script>
    <script src="/js/dependencies/lightbox2-master/dist/js/lightbox-plus-jquery.js"></script>
    <script src="/js/dependencies/lightbox2-master/dist/js/lightbox-plus-jquery.min.js"></script>
    <script src="/js/dependencies/lightbox2-master/dist/js/lightbox.js"></script>
    <script src="/js/dependencies/lightbox2-master/dist/js/lightbox.min.js"></script>
    <script src="/js/dependencies/lightbox2-master/Gruntfile.js"></script>
    <script src="/js/dependencies/lightbox2-master/src/js/lightbox.js"></script>
    <script src="/js/dependencies/masonry.pkgd.min.js"></script>
    <script src="/js/dependencies/progressbar.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/chart/chart.controller.js"></script>
    <script src="/js/engine.js"></script>
    <script src="/js/favourites/favourites.controller.js"></script>
    <script src="/js/filter.js"></script>
    <script src="/js/home/home.controller.js"></script>
    <script src="/js/login/login.controller.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
