<div ng-controller="favouritesController">
	<!-- Wrapper -->
	<section id="wrapper">
		<!-- One -->
		<section class="wrapper animated slideInRight" style="min-height: 100vh;background:transparent;">
			<i style="margin:1em; font-size:1.5em" class="material-icons pull-right pointer" ng-init="action=false" title="remove" ng-click="action=!action">
				{{action? 'delete_forever':'delete'}}
			</i>
			<i style="margin:1em; font-size:1.5em" title="order by" class="material-icons pull-right pointer" ng-click="options.orderBy.active=true">sort</i>
			<div class="inner" style="display:block;">

				<h1 class="major">YOUR M<u>OVIES LIST</u></h1>

				<div class="content">
					<div class="row">
						<div class="6u 12u$(xsmall) pull-right" style="float:right">
							<input style="color:white" type="text" ng-model="search" name="search" value="" placeholder="search in your movies" autocomplete="off">
						</div>
					</div>
					<hr>
					<div class="row grid">
						<div ng-repeat="movie in movies | filter:search | orderBy: order" class="grid-item gi{{$index%3}}">
							<a ng-href="{{!action? '#/?movie='+movie.id:''}}">
								<div class="card favorites animated fadeInUp" style="cursor: pointer;">
									<span class="image fit" style="background-image:url('http://image.tmdb.org/t/p/w300{{movie.poster_path}}'); max-height:200px;">

										<div class="opacity">
											<i ng-show="action" class="material-icons pointer delete animated zoomIn" ng-click="removeFavorites(movie.id)">delete</i>
											<h1 class="major" style="word-break:break-all">
												<u>{{movie.title.substring(0,3)}}</u>{{movie.title.substring(3,15)}}
											</h1>
										</div>
									</span>
								</div>
							</a>
						</div>
					</div>

					<style>
						.gi0, .gi1 {
							width: 44%;
							margin: 3%;
						}

						.gi2 {
							width: 94%;
							margin: 3%;

						}

						@media screen and (max-width: 736px) {
							.gi0, .gi1, .gi2 {
									width: 100%
							}
						}

					</style>
				</div>
			</div>
		</section>
	</section>
	<nav ng-show="options.orderBy.active" style="transform: translateY(0);opacity: 1;visibility:visible;" class="popmenu">
		<div class="inner" style="transform: translateY(0);opacity: 1;">
			<h2>Order by</h2>
			<ul class="links">
				<li>
					<a ngclick="options.orderBy.active=false">
						<h1>Name</h1>
					</a>
				</li>
				<li>
					<a ngclick="options.orderBy.active=false">
						<h1>Date</h1>
					</a>
				</li>
				<li>
					<a ngclick="options.orderBy.active=false">
						<h3>Vote</h3>
					</a>
				</li>
				<li>
					<a ngclick="options.orderBy.active=false">
						<h1>Popularity
							<h1>
					</a>
				</li>
			</ul>
			<a ngclick="options.orderBy.active=false" class="close">Close</a>
		</div>
	</nav>
</div>
