<html ng-app="waf">

	<head>
		<link rel="manifest" href="./manifest.json">

		<title>WAM</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="mobile-web-app-capable" content="yes">

		<meta name="theme-color" content="#353849">
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


		<link rel="stylesheet" href="node_modules/material-design-icons/iconfont/material-icons.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/default.min.css">
		<link rel="stylesheet" href="node_modules/firebaseui/dist/firebaseui.css">
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
		<!-- 2. Configure SystemJS -->
		<link rel="stylesheet" href="styles/font-awesome-4.6.3/css/font-awesome.min.css" />
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />

		<link rel="stylesheet" href="templates/solid-state/assets/css/main.css" />
		<link rel="stylesheet" href="js/dependencies/alertify.js-master/dist/css/alertify.css" />
		<link rel="stylesheet" href="node_modules/ng-material-floating-button/mfb/dist/mfb.min.css" />
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>


		<link rel="stylesheet" type="text/css" href="styles/animate.css" />


		<link rel="stylesheet" href="styles/index.css" />

		<script src="templates/solid-state/assets/js/jquery.min.js"></script>

		<script src="templates/solid-state/assets/js/skel.min.js"></script>
		<script src="templates/solid-state/assets/js/main.js"></script>
		<script src="node_modules/firebase/firebase.js"></script>

		<script src="js/dependencies/alertify.js-master/dist/js/alertify.js"></script>
		<script src="js/dependencies/progressbar.min.js"></script>


		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-touch.js"></script>

		<script src="node_modules/chart.js/dist/Chart.min.js"></script>
		<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
		<script src="js/dependencies/angular-tmdb/angular-tmdb.min.js"></script>
		<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
		<script src="js/engine.js"></script>
		<script src="js/filter.js"></script>

		<script src="js/app.js"></script>
		<script src="js/home/home.controller.js"></script>
		<script src="js/login/login.controller.js"></script>
		<script src="js/chart/chart.controller.js"></script>
		<script src="js/favourites/favourites.controller.js"></script>

	</head>

	<body>

		<!-- Wrapper -->
		<div id="background"></div>
		<div id="progress-bar"></div>

		<div id="page-wrapper">


			<!-- Header -->
			<header id="header" class="alt">
				<!--alt-!-->
				<h1>
					<a href="/"><img height="40" width="40" alt="WAM" src="images/icon.svg"></a>
				</h1>
				<nav>
					<a href="#login">
						<i class="material-icons">account_circle</i> &nbsp;{{user.displayName}}</a>
					<a href="#menu">
						<i class="material-icons">menu</i>
					</a>
				</nav>
			</header>
			<!-- Menu -->
			<nav id="menu" class="popmenu">
				<div class="inner">
					<h2>Menu</h2>
					<ul class="links">
						<li>
							<a href="#/">
								<i class="material-icons">local_movies</i>
								<h1>Movies</h1>
							</a>
						</li>
						<li>
							<a href="#/favorites">
								<i class="material-icons">favorite</i>
								<h1>Your Favorites</h1>
							</a>
						</li>
						<li>
							<a href="#/login">
								<h3>Sign In</h3>
							</a>
						</li>
					</ul>
					<a href="#" class="close">Close</a>
				</div>
			</nav>

			<div ng-view class="slide page" autoscroll="true"></div>

		</div>

		<div class="alertify-logs bottom left"></div>

		<div id="loading">
			<div class="spinner" id="page-loader"></div>
			<div id="tmdb_logo">
				<img src="images/primary-green.svg" />
			</div>
		</div>

		<!-- Scripts -->
		<script src="node_modules/node-vibrant/dist/vibrant.min.js"></script>
		<script src="templates/solid-state/assets/js/jquery.scrollex.min.js"></script>
		<script src="node_modules/ng-material-floating-button/src/mfb-directive.js"></script>
		<script src="node_modules/firebaseui/dist/firebaseui.js"></script>

		<script>
			// Initialize Firebase
			var config = {
				apiKey: "AIzaSyBcTPUQStZOAuLpbTqh8n3FYt6iHa4m8lU",
				authDomain: "whatafilm-ba34f.firebaseapp.com",
				databaseURL: "https://whatafilm-ba34f.firebaseio.com",
				storageBucket: "whatafilm-ba34f.appspot.com",
				messagingSenderId: "1032778019755"
			};
			firebase.initializeApp(config);

		</script>
		<script>
			setTimeout(() => {
				$('#banner').scrollex({
					bottom: $('#header').outerHeight(),
					terminate: function() { $('#header').removeClass('alt') },
					enter: function() { $('#header').addClass('alt') },
					leave: function() { $('#header').removeClass('alt'); }
				})
			}, 500)

		</script>
	</body>

</html>
