::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

* {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
}

.alertify-logs.top {
  top: 10%;
}

#banner h2 {
  border-bottom: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

h1.major {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.opacity {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1em;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all .5s;
}

.opacity:hover {
  background-color: transparent;
}

.opacity:hover> * {
  color: rgba(255, 255, 255, 0.5);
}

h1.major>u {
  text-transform: inherit;
  text-decoration: none;
  padding-bottom: .3em;
  border-bottom: 7px solid;
}

.hr {
  display: block;
  background-color: white;
  display: inline-block;
  zoom: 1;
  display*: inline;
  /* ie hack */
  height: 8px;
  width: 5em;
  margin-bottom: 1em;
}

h1.major {
  border: 0;
  line-height: 2.2em;
}

.slick-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container-title {
  padding: 2em;
  position: relative;
  z-index: 1;
  top: 60vh !important;
}

#banner {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  height: 120vh;
}

.alertify-logs {
  color: white;
  z-index: 10001;
}

.material-icons.btn {
  font-size: 1.5em;
  vertical-align: middle;
  color: #BDBDBD;
}

.material-icons {
  vertical-align: middle;
}

.shadow-text>h1, .shadow-text>h3 {
  color: rgba(0, 0, 0, .3) !important;
}

.card {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  width: 198px !important;
  height: 300px !important;
  background-color: #333;
  border-radius: 3px;
  box-shadow: 0 19px 19px 0 rgba(0, 0, 0, .5), 0 15px 6px 0 rgba(0, 0, 0, .33);
}

.card.favorites {
  width: 100% !important;
  height: 300px !important;
  transform: scale(1);
  transition: all .5s;
}

.card.favorites:hover>* {
  transform: scale(1.05);
  transition: all .5s;
  z-index: 100;
}

.card.favorites>* {
  transform: scale(1);
  transition: all .5s;
}

.card> .vote {
  position: absolute;
  font-size: 1.2em;
  right: -1em;
  bottom: 10%;
}

.card> span.image {
  background-position: center !important;
  background-size: cover !important;
  height: 100% !important;
  max-height: 100% !important;
  max-width: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  border-radius: 0 !important;
}

.delete {
  margin: 1em;
  font-size: 1.2em;
  color: #FAFAFA;
  padding: 1em;
  background-color: #263238;
  border-radius: .3em;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .24);
  transition: all .5s;
}

.delete:hover {
  margin: 1em;
  font-size: 1.2em;
  color: red;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .19), 0 6px 3px 0 rgba(0, 0, 0, .23);
  transition: all .5s
}

#choose-card-container {
  overflow-x: visible;
  overflow-y: hidden;
  margin-left: -198px;
  margin-bottom: 2em;
}

#search-suggests {
  position: fixed;
  bottom: 6em;
  left: 0;
  width: 94%;
  background: #283439;
  /* height: 100%; */
  height: auto;
  padding: 0.8em;
  border-radius: 5px;
  margin: 3%;
  z-index: 100;
  max-width: 100vmin;
}

#filters {
  position: fixed;
  overflow: hidden;
  height: 6em;
  width: 6em;
  bottom: -1px;
  left: 0;
  right: 0;
  padding: .3em;
  padding-bottom: 0px;
  z-index: 1000;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: height .5s ease-out, width .5s ease-out;
  max-width: 100vmin;
}

#search-btn {
  transition: all .5s;
  width: 2em;
}

#filters>.actions {
  position: absolute;
  bottom: 0;
  height: auto;
  margin: 0;
}

#filters-bkg {
  background-color: rgba(38, 50, 56, .9);
  border-radius: 50%;
  position: absolute;
  height: 4em;
  width: 4em;
  left: 0;
  bottom: .8em;
  right: 0;
  margin: 0;
  z-index: -1;
  transition: all .5s ease-out;
}

#list-tag {
  margin-top: -65px !important;
}

#search-tag {
  display: flex;
  vertical-align: middle;
  opacity: .3;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

#search-tag<li {
  padding: 0;
  width: auto;
}

#search-tag:hover {
  opacity: .5;
}

#filters.active {
  background-color: rgba(38, 50, 56, .8);
  width: 100%;
  height: 4em;
}

#filters.active>#filters-bkg {
  transform: scale(20);
}


#search-btn.active {
  padding-left: .4em !important;
  padding-right: 5em !important;
}

.button {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently*/
}

.image.poster>image {
  width: 198px;
  height: 300px;
}

.searched {
  color: white;
  background-color: #FF6F00;
  #background-color: #1976D2;
}

.searched * {
  color: white !important;
}

.searched:hover {
  color: white;
  background-color: #E65100 !important;
  #background-color: #1976D2;
}

button.orange, .button.orange {
  border-radius: 50%;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #F48C01;
  box-shadow: none;
}

button.orange:hover, .button.orange:hover {
  background-color: #D17600 !important;
}

button.small:hover, .button.small:hover {
  background-color: #222;
}

.inline li {
  width: auto;
  display: inline-block;
  margin-left: .5em;
  margin-right: .5em;
  padding: 0px !important;
}

.inline {
  display: flex;
  overflow-x: scroll;
  margin-bottom: -1em;
}

.inline .button {
  padding-left: 1em;
  padding-right: 1em;
}

.inline .button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  ;
}

.inline .button.active:hover {
  background-color: #5F9EA0;
}

.button.active {
  background-color: #5f9ea0;
}

.fade.ng-enter {
  transition: 0.5s linear all;
  opacity: 0;
}

.fade.ng-enter.ng-enter-active {
  opacity: 1;
}

.button.small {
  margin-bottom: .5em !important;
  margin-top: .5em !important;
}

input[type="text"] {
  border: 0 !important;
}

#progress-bar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: .4em;
  margin: 0px;
  z-index: 1;
  background: transparent;
}

#tmdb_logo {
  position: relative;
  ;
  height: 3em;
  z-index: 100;
  margin: 2em;
  #left: 0px;
  #margin: 10px;
}

#tmdb_logo>img {
  height: 3em;
}

.arrow-left {
  position: fixed;
  left: 20px;
  top: 40%;
  font-size: 4em;
  color: rgba(255, 255, 255, .6);
  cursor: pointer;
  border: 0px;
  z-index: 1000;
}

.arrow-right {
  position: fixed;
  right: 20px;
  top: 40%;
  font-size: 4em;
  color: rgba(255, 255, 255, .6);
  cursor: pointer;
  text-decoration: none;
  border: 0px;
  z-index: 1000;
}

.arrow-right:active {
  transition: all .3s;
  transform: scale(1.2);
}

.arrow-left:active {
  transition: all .3s;
  transform: scale(1.2);
}

.slide.page.ng-scope {
  background: transparent;
  background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
  background: -o-linear-gradient(-45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
  background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
}

.square {
  border-radius: .3em !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 5px 0 rgba(0, 0, 0, .23);
  transition: all .5s;
}

.square:hover {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .19), 0 6px 3px 0 rgba(0, 0, 0, .23);
}

.square>img {
  border-radius: .3em !important;
}

.mfb-component--br {
  bottom: 1em;
  z-index: 10000;
}

.mfb-component__button--child, .mfb-component__button--main {
  background-color: #5F9EA0;
}

.m_add:before {
  content: 'add';
}

.m_close:before {
  content: 'close';
}

.m_play_cricle_filled:before {
  content: 'play_cricle_filled';
}

.m_check_circle:before {
  content: 'check_circle';
}

.m_video_library:before {
  content: 'video_library';
}

.m_favorite:before {
  content: 'favorite';
}

.m_favorite_border:before {
  content: 'favorite_border';
}

.person-name {
  text-align: center;
  z-index: 10;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #333;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: center;
  z-index: -1;
  transition: 1s all linear;
  -webkit-transition: 1s all linear;
  -moz-transition: 1s all linear;
  -ms-transition: 1s -ms-filter linear;
  -o-transition: 1s -o-filter linear;
}

.bkg-color {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
  ;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0px;
  height: 120%;
  width: 100%;
  padding: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.15);
}

.blur-open {
  opacity: 0;
}

.blur {
  opacity: .2;
}

.blur-close {
  opacity: 1;
}

.AndroidStudio {
  font-size: 18px;
}

.inline>li {
  width: auto !important;
}

@media screen and (min-width: 736px) {
  .arrow-left {
    position: fixed;
    left: 5px;
    top: 45%;
    font-size: 3em;
  }
  .arrow-right {
    position: fixed;
    right: 5px;
    top: 45%;
    font-size: 3em;
  }
  .inline {
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 736px) {
  .arrow-left {
    display: none;
    position: fixed;
    left: 5px;
    top: 45%;
    font-size: 3em;
  }
  .arrow-right {
    display: none;
    position: fixed;
    right: 5px;
    top: 45%;
    font-size: 3em;
  }
}

.searched.ng-enter {
  animation: fadeIn 1s;
}

.searched.ng-leave {
  animation: fadeOut 1s;
}

.pointer {
  cursor: pointer;
}

.pointer .image:active {
  transform: scale(0.8);
}

.chart-tags-points {
  max-height: 50vh;
}

#one, #two, #three {
  margin-bottom: 3.3%;
  padding-bottom: 3em;
  margin-top: 0px;
}

#loading {
  position: fixed;
  height: 100vh;
  width: 100vw;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000000;
  opacity: 1;
  background-color: #263238;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#loading.hide {
  opacity: 0;
}

.spinner {
  background-color: transparent;
  background-image: url('../images/icon.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: rotate 1.4s infinite ease-in-out, background 1.4s infinite ease-in-out alternate;
}

#page-loader {
  position: absolute;
  width: 20vmin;
  height: 20vmin;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

@keyframes rotate {
  0% {
    transform: perspective(200px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(200px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(200px) rotateX(-180deg) rotateY(-180deg);
  }
}

#menu>.inner {
  background-color: #ec5151;
}
#menu.popmenu .links li a:hover {
  background-color: #d5483e;
}

/* FIREBASE FIX */
h1.firebaseui-title {
  color: black;
}
label.mdl-textfield__label.firebaseui-label {
  color: black;
}
input.mdl-textfield__input.firebaseui-input {
  color: black;
}
