<!-- Banner -->
<div ng-controller="homeController">
	<a class="arrow-right" title="next" ng-click="nextPreview()">
		<i class="fa fa-angle-right" aria-hidden="true"></i>
	</a>
	<a ng-if="history.movies.length > 0" class="arrow-left" title="previous" ng-click="prevPreview()">
		<i class="fa fa-angle-left" aria-hidden="true"></i>
	</a>
	<!-- Banner -->
	<section id="banner" class="blur-close">
		<div class="slick">
			<div ng-repeat="i in [0,1,2,3,4,5]" class="inner animated fadeInRight" id="page{{i}}">
				<div class="bkg-color">
					<div class="container-title row uniform">
						<div class="12u(medium) 8u" style="text-align:center;">

							<h2 style="font-size:2em">{{pages[i].title}}
								<i class="material-icons" style="color:#B71C1C;cursor:pointer" title="{{pages[i].favourite? 'remove by favorites':'add to favorites'}} " ng-click="toogleFavorites()">{{pages[i].favourite? 'favorite':'favorite_border'}}
								</i>
							</h2>
							<span class="hr"></span>
							<p style="font-weight: bold; color: rgba(255, 255, 255, 0.7);">{{pages[i].release_date | limitTo: 4 }} &bull; {{pages[i].vote_average}}</p>
							<br/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- Wrapper -->
	<section id="wrapper" style="margin-bottom:-5em" ng-show="movie.load_all">

		<!-- One -->
		<section id="one" class="wrapper spotlight style1 animated slideInUp">
			<div class="inner">
				<div class="content">
					<h1 class="major">Tr
						<u>ama</u>
					</h1>
					<p>{{movie.overview}}</p>
					<hr/>
					<div style="text-align:left">
						<b>RELEASE DATE &nbsp;</b> {{movie.release_date}}
						<br/>
						<b>DURATION &nbsp;</b> {{movie.runtime}}min
						<br/>
						<b>VOTE &nbsp;</b> {{movie.vote_average}}/10
						<br/>
						<ul class="actions small" style="margin:0">
							<li>
								<b>GENRES &nbsp;</b>
							</li>
							<li ng-repeat="genre in movie.genres | limitTo: 4">
								<a class="button small">
									{{genre.name}}
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<br/>

		<!-- Two -->
		<section id="two" class="wrapper alt spotlight style2">
			<div class="inner row uniform">
				<div class="8u 12u$(medium)">
					<h1 class="major">Ca
						<u>st</u>
					</h1>
					<div class="row uniform masonry">
						<div class="3u 4u(medium) pointer" ng-repeat="actor in persons.cast | limitTo: limit.persons" sglclick="filter.toggle(actor, 'persons')" ng-dblclick="getPersonMovies(actor.id)">
							<span class="image fit square" style="width:100%;margin:0px; height:10em; background-color:#222222">
								<img src="http://image.tmdb.org/t/p/w300{{actor.profile_path}}" alt="{{actor.name}}">
								<h4 class="person-name">
									{{actor.name}}
								</h4>
							</span>
						</div>
					</div>
					<br/>
					<a ng-click="limit.persons=9" ng-hide="limit.persons==9" class="special">See more</a>
				</div>
				<div class="4u 12u$(medium) shadow-text">
					<h1 class="major">production comp
						<u>anies</u>
					</h1>
					<h3 ng-repeat="product in movie.production_companies | limitTo: 4">
						{{product.name}}
					</h3>

				</div>
			</div>

		</section>
		<br/>
		<!-- Three -->
		<section id="three" class="wrapper style3">
			<div class="inner">
				<h1 class="major">
					<u>Im</u>ages</h1>
				<div class="box alt">
					<div class="row uniform">
						<div class="6u(small) 4u" ng-repeat="image in images.backdrops | limitTo: limit.images | orderBy: '-vote_average'">
							<span class="image fit">
								<img src="http://image.tmdb.org/t/p/w300{{image.file_path}}" alt="{{movie.title}}">
							</span>
						</div>
					</div>
				</div>
				<a ng-hide="limit.images==21" ng-click="limit.images=21" class="special">More ...</a>
			</div>
		</section>

	</section>
	<div id="search-suggests" ng-show="start && movie.load_all" class="animated slideInUp">
		<ul class="actions small">
			<li>
				<b style="font-size:.8em;">SUGGESTED:</b>
			</li>
			<li ng-repeat="genre in movie.genres | limitTo: 4">
				<a class="button small animated slideInLeft" ng-class="{'active': filter.contain(genre, 'genres')}" data-genre="{{genre.id}}" ng-dblclick="getGenreMovies(genre.id)" sglclick="filter.toggle(genre, 'genres')">
					{{genre.name}}
				</a>
			</li>
			<li ng-repeat="keyword in keywords | limitTo: 4">
				<a class="button small animated slideInLeft" ng-class="{'active': filter.contain(keyword, 'keywords')}" data-keyword="{{keyword.id}}" ng-dblclick="getKeywordMovies(keyword.id)" sglclick="filter.toggle(keyword, 'keywords')">
					{{keyword.name}}
				</a>
			</li>
		</ul>
	</div>
	<div id="filters" class="{{start==0?'':'active'}}">
		<div id="filters-bkg">
		</div>

		<ul id="list-tag" ng-show="filter.actions.searchTag" class="inline actions">
			<li ng-repeat="tag in filter.searchedTags | limitTo: 3">
				<a class="button small fade special" style="width:100%" data-keyword="{{keyword.id}}" ng-click="filter.remove(keyword, 'keywords')">
					{{tag.name}}
				</a>
			</li>
		</ul>
		<ul class="inline actions small">
			<li id="search-btn" class="{{start==0?'active':''}}" ng-click="start=!start" ng-init="start=false">
				<i style="padding-top:.5em;" class="material-icons">search</i>&nbsp;
			</li>
			<li>
				<input style="min-width:160px; height:auto; width:auto; border:1px;" class="button small fade" type="text" ng-model="filter.searchTag" ng-change="searchTags(filter.searchTag)" ng-model-options="{ debounce: 500 }" placeholder="SEARCH TAG">
			</li>
			<li ng-repeat="search in filter.searched">
				<a class="button small searched animated slideInLeft" ng-click="filter.addSearched(search, search.type)">
					{{search.name}}
					<i class="material-icons btn">add_circle</i>
				</a>
			</li>
			<li ng-repeat="person in filter.persons">
				<a class="button small animated fadeInRight" data-person="{{person.id}}" ng-click="filter.remove(person, 'persons')">
					{{person.name}}
					<i class="material-icons btn">cancel</i>
				</a>
			</li>
			<li ng-repeat="genre in filter.genres">
				<a class="button small animated fadeInRight" data-genre="{{genre.id}}" ng-click="filter.remove(genre, 'genres')">
					{{genre.name}}
					<i class="material-icons btn">cancel</i>
				</a>
			</li>
			<li ng-repeat="keyword in filter.keywords">
				<a class="button small animated fadeInRight" data-keyword="{{keyword.id}}" ng-click="filter.remove(keyword, 'keywords')">
					{{keyword.name}}
					<i class="material-icons btn">cancel</i>
				</a>
			</li>
			<!--<li style="width:auto">
					<i class="fade material-icons" id="search-tag" ng-click="searchTag()">add_circle</i>
				</li>!-->
		</ul>
	</div>
	<nav mfb-menu position="br" effect="slidein" active-icon="material-icons m_close" resting-icon="material-icons m_add" toggling-method="click">
		<button mfb-button icon="material-icons m_check_circle" label="Oh Yes this!"></button>
		<button mfb-button icon="fa fa-google" label="search with Google" ng-click="googleMovie()"></button>
		<button mfb-button icon="material-icons m_video_library " label="watch trailer" ng-click="startVideo()"></button>
		<button mfb-button icon="material-icons m_favorite" label="add to favourites" ng-click="toogleFavorites()"></button>
	</nav>
	<style>
		#one {
			-webkit-transition: background 1000ms linear;
			-moz-transition: background 1000ms linear;
			-o-transition: background 1000ms linear;
			-ms-transition: background 1000ms linear;
			transition: background 1000ms linear;
		}

		#one:before, #one:after {
			-webkit-transition: background 1000ms linear;
			-moz-transition: background 1000ms linear;
			-o-transition: background 1000ms linear;
			-ms-transition: background 1000ms linear;
			transition: background 1000ms linear;
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:{{triangle.style1}}' /%3E%3C/svg%3E");
		}

		#two:before, #two:after {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:{{triangle.style2}}' /%3E%3C/svg%3E");
		}

		#three:before, #three:after {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:{{triangle.style3}}' /%3E%3C/svg%3E");
		}

	</style>
</div>
