<!-- Banner -->
<div ng-controller="homeController">
	<a class="arrow-right" title="next" ng-click="nextPreview()">
		<i class="fa fa-angle-right" aria-hidden="true"></i>
	</a>
	<a ng-if="history.movies.length > 0" class="arrow-left" title="previous" ng-click="prevPreview()">
		<i class="fa fa-angle-left" aria-hidden="true"></i>
	</a>
	<!-- Banner -->
	<section id="banner" class="blur-close">
		<div style="margin-bottom:2em">
			<ul class="inline actions small">
				<li ng-repeat="genre in movie.genres | limitTo: 4">
					<a class="button small animated slideInLeft" ng-class="{'active': filter.contain(genre, 'genres')}" data-genre="{{genre.id}}" ng-dblclick="getGenreMovies(genre.id)" sglclick="filter.toggle(genre, 'genres')">
						{{genre.name}}
					</a>
				</li>
				<li ng-repeat="keyword in keywords | limitTo: 4">
					<a class="button small animated slideInLeft" ng-class="{'active': filter.contain(keyword, 'keywords')}" data-keyword="{{keyword.id}}" ng-dblclick="getKeywordMovies(keyword.id)" sglclick="filter.toggle(keyword, 'keywords')">
						{{keyword.name}}
					</a>
				</li>
			</ul>
		</div>
		<div class="slick">
			<div class="inner animated fadeInRight">
				<div class="row uniform">
					<div class="12u(medium) 4u">
						<div class="card">
							<span class="image fit" style="background-image:url('http://image.tmdb.org/t/p/w300{{pages[0].poster_path}}')"></span>
							<span class="vote">
								<a class="button small orange">{{(pages[0].vote_average).toString().length
									< 2 ? pages[0].vote_average+ '.0' : pages[0].vote_average }}</a>
							</span>
						</div>
					</div>
					<div class="12u(medium) 8u">

						<h2>{{pages[0].title}}
							<i class="material-icons" style="color:#B71C1C;cursor:pointer" title="{{pages[0].favourite? 'remove by favorites':'add to favorites'}} " ng-click="toogleFavorites()">{{pages[0].favourite? 'favorite':'favorite_border'}}
							</i>
						</h2>
						<span class="hr"></span>
						<div ng-show="pages[0].id == movie.id" class="animated slideInUp">
							<h3>{{pages[0].tagline}}</h3>
							<br>
							<br>
							<p>
								<b>Stars:</b>
								<a ng-repeat="actor in pages[0].credits.cast | limitTo: 4"> {{actor.name}} {{!$last? ',':''}} </a>
							</p>
							<p>
								<b>Directors:</b>
								<a ng-repeat="actor in pages[0].credits.crew | filter: {department:'Directing'} | limitTo:2"> {{actor.name}} {{!$last? ',':''}} </a>
								<br>
								<b>Writers:</b>
								<a ng-repeat="actor in pages[0].credits.crew | filter: {department:'Writing'} | limitTo:2"> {{actor.name}} {{!$last? ',':''}} </a>
							</p>
						</div>
						<br/>
					</div>
				</div>
			</div>
			<div class="inner animated fadeInRight">
				<div class="row uniform">
					<div class="12u(medium) 4u">
						<div class="card">
							<span class="image fit" style="background-image:url('http://image.tmdb.org/t/p/w300{{pages[1].poster_path}}')"></span>
							<span class="vote">
								<a class="button small orange">{{(pages[1].vote_average).toString().length
									< 2 ? pages[1].vote_average+ '.0' : pages[1].vote_average }}</a>
							</span>
						</div>
					</div>
					<div class="12u(medium) 8u">

						<h2>{{pages[1].title}}
							<i class="material-icons" style="color:#B71C1C;cursor:pointer" title="{{pages[1].favourite? 'remove by favorites':'add to favorites'}} " ng-click="toogleFavorites()">{{pages[1].favourite? 'favorite':'favorite_border'}}
							</i>
						</h2>
						<span class="hr"></span>
						<div ng-show="pages[1].id == movie.id" class="animated fadeInUp">
							<h3>{{pages[1].tagline}}</h3>
							<br>
							<br>
							<p>
								<b>Stars:</b>
								<a ng-repeat="actor in pages[1].credits.cast | limitTo: 4"> {{actor.name}} {{!$last? ',':''}} </a>
							</p>
							<p>
								<b>Directors:</b>
								<a ng-repeat="actor in pages[1].credits.crew | filter: {department:'Directing'} | limitTo:2"> {{actor.name}} {{!$last? ',':''}} </a>
								<br>
								<b>Writers:</b>
								<a ng-repeat="actor in pages[1].credits.crew | filter: {department:'Writing'} | limitTo:2"> {{actor.name}} {{!$last? ',':''}} </a>
							</p>
						</div>
						<br/>
					</div>
				</div>
			</div>
			<div class="inner animated fadeInRight">
				<div class="row uniform">
					<div class="12u(medium) 4u">
						<div class="card">
							<span class="image fit" style="background-image:url('http://image.tmdb.org/t/p/w300{{pages[2].poster_path}}')"></span>
							<span class="vote">
								<a class="button small orange">{{(pages[2].vote_average).toString().length
									< 2 ? pages[2].vote_average+ '.0' : pages[2].vote_average }}</a>
							</span>
						</div>
					</div>
					<div class="12u(medium) 8u">

						<h2>{{pages[2].title}}
							<i class="material-icons" style="color:#B71C1C;cursor:pointer" title="{{pages[2].favourite? 'remove by favorites':'add to favorites'}} " ng-click="toogleFavorites()">{{pages[2].favourite? 'favorite':'favorite_border'}}
							</i>
						</h2>
						<span class="hr"></span>
						<div ng-show="pages[2].id == movie.id" class="animated fadeInUp">
							<h3>{{pages[2].tagline}}</h3>
							<br>
							<br>
							<p>
								<b>Stars:</b>
								<a ng-repeat="actor in pages[2].credits.cast | limitTo: 4"> {{actor.name}} {{!$last? ',':''}} </a>
							</p>
							<p>
								<b>Directors:</b>
								<a ng-repeat="actor in pages[2].credits.crew | filter: {department:'Directing'} | limitTo:2"> {{actor.name}} {{!$last? ',':''}} </a>
								<br>
								<b>Writers:</b>
								<a ng-repeat="actor in pages[2].credits.crew | filter: {department:'Writing'} | limitTo:2"> {{actor.name}} {{!$last? ',':''}} </a>
							</p>
						</div>
						<br/>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Wrapper -->
	<section id="wrapper">

		<!-- One -->
		<section id="one" class="wrapper spotlight style1">
			<div class="inner">
				<div class="content">
					<h1 class="major">Tr
						<u>ama</u>
					</h1>
					<p>{{movie.overview}}</p>
					<hr/>
					<div style="text-align:left">
						<b>RELEASE DATE &nbsp;</b> {{movie.release_date}}
						<br/>
						<b>DURATION &nbsp;</b> {{movie.runtime}}min
						<br/>
						<b>VOTE &nbsp;</b> {{movie.vote_average}}/10
						<br/>
						<ul class="actions small" style="margin:0">
							<li>
								<b>GENRES &nbsp;</b>
							</li>
							<li ng-repeat="genre in movie.genres | limitTo: 4">
								<a class="button small">
									{{genre.name}}
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<br/>

		<!-- Two -->
		<section id="two" class="wrapper alt spotlight style2">
			<div class="inner row uniform">
				<div class="8u 12u$(medium)">
					<h1 class="major">Ca
						<u>st</u>
					</h1>
					<div class="row uniform masonry">
						<div class="3u 4u(medium) pointer" ng-repeat="actor in persons.cast | limitTo: limit.persons" sglclick="filter.toggle(actor, 'persons')" ng-dblclick="getPersonMovies(actor.id)">
							<span class="image fit square" style="width:100%;margin:0px; height:10em; background-color:#222222">
								<img src="http://image.tmdb.org/t/p/w300{{actor.profile_path}}" alt="{{actor.name}}">
								<h4 class="person-name">
									{{actor.name}}
								</h4>
							</span>
						</div>
					</div>
					<br/>
					<a ng-click="limit.persons=9" ng-hide="limit.persons==9" class="special">See more</a>
				</div>
				<div class="4u 12u$(medium) shadow-text">
					<h1 class="major">production comp
						<u>anies</u>
					</h1>
					<h3 ng-repeat="product in movie.production_companies | limitTo: 4">
						{{product.name}}
					</h3>

				</div>
			</div>

		</section>
		<br/>
		<!-- Three -->
		<section id="three" class="wrapper style3">
			<div class="inner">
				<h1 class="major">
					<u>Im</u>ages</h1>
				<div class="box alt">
					<div class="row uniform">
						<div class="6u(small) 4u" ng-repeat="image in images.backdrops | limitTo: limit.images | orderBy: '-vote_average'">
							<span class="image fit">
								<img src="http://image.tmdb.org/t/p/w300{{image.file_path}}" alt="{{movie.title}}">
							</span>
						</div>
					</div>
				</div>
				<a ng-hide="limit.images==21" ng-click="limit.images=21" class="special">More ...</a>
			</div>
		</section>

	</section>
	<nav mfb-menu position="br" effect="slidein" active-icon="material-icons m_close" resting-icon="material-icons m_add" toggling-method="click">
		<button mfb-button icon="material-icons m_check_circle" label="Oh Yes this!"></button>
		<button mfb-button icon="fa fa-google" label="search with Google" ng-click="googleMovie()"></button>
		<button mfb-button icon="material-icons m_video_library " label="watch trailer" ng-click="startVideo()"></button>
		<button mfb-button icon="material-icons m_favorite" label="add to favourites" ng-click="toogleFavorites()"></button>
	</nav>
	<style>
		#one {
			-webkit-transition: background 1000ms linear;
			-moz-transition: background 1000ms linear;
			-o-transition: background 1000ms linear;
			-ms-transition: background 1000ms linear;
			transition: background 1000ms linear;
		}

		#one:before, #one:after {
			-webkit-transition: background 1000ms linear;
			-moz-transition: background 1000ms linear;
			-o-transition: background 1000ms linear;
			-ms-transition: background 1000ms linear;
			transition: background 1000ms linear;
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:{{triangle.style1}}' /%3E%3C/svg%3E");
		}

		#two:before, #two:after {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:{{triangle.style2}}' /%3E%3C/svg%3E");
		}

		#three:before, #three:after {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:{{triangle.style3}}' /%3E%3C/svg%3E");
		}

	</style>
</div>
